//Partial para las variables globales utilizadas

//Font Variables-----------------------------------------------

$main-font: 'Quicksand', sans-serif;
$title-size: 60px;
$subtitle-size: 30px;
$subtitle-size-2: 35px;
$icon-size: 25px;
$p-size: 15px;
$btn-size: 1rem;
$icon-size-media: 20px;
$title-size-media: 40px;

//Color Variables----------------------------------------------

$prim-color: #000;
$sec-color: #fff; 
$third-color: #393d42;
$instagram: #e4405f;
$twitter: #55acee;
$behance: #053eff;

